DB_NAME=support_db
DB_USER=support_user
DB_PASSWORD=support
DB_HOST=localhost
DB_PORT=5432
#Email с которого будет осуществляться рассылка
EMAIL_LOGIN=
#Пароль от Email
EMAIL_PASSWORD=
#Сервер SMTP почты, которая будет использоваться
EMAIL_HOST=smtp.gmail.com
#Порт SMTP сервера
EMAIL_PORT=587

SECRET_KEY=django-insecure-@=(*@+8wej2pl6w6-36d=obir=hs)j_vr5u^c69ld*+c6x=vj*

